.main-container {
  width: 100%;
  max-width: 1040px;
  margin: auto;
  // margin-inline: auto;
}

@media (max-width: $break-wide) {
  .main-container {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }
}

// @media (max-width: $break-narrow) {
//   .main-container {
//     padding-inline-start: 20px;
//     padding-inline-end: 20px;
//   }
// }
