@import "../../assets/scss/setup/variables";

.home-page {
  .hero-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    // object-fit: cover;
    > .hero-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    > .hero-woman-image {
      position: absolute;
      right: 5%;
      transform: translateX(5%);
      bottom: 0;
      width: 300px;
      // width: 100px;
      z-index: 20;
    }
    .content {
      z-index: 30;
      position: absolute;
      max-width: 400px;
      top: 50%;
      left: 5%;
      > {
        .main-title {
          margin-bottom: 30px;
        }
        .secondary-title {
          font-size: 23px;
          margin-bottom: 30px;
        }
        .primary-button {
          width: 200px;
        }
      }
    }
  }
}

@media (max-width: $break-narrow) {
  .home-page {
    // background-color: blue !important;
    .hero-container {
      .hero-woman-image {
        display: none;
      }
      .content {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }
    }
  }
}

.home-page-2 {
  background-color: black;
  .content {
    background: blue !important;
  }
}
